* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1500px;
  border: 1px solid black;
  padding-bottom: 100px;
  margin: auto;
}
.over__page {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  background: url(./image/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  padding: 20px;

  .header_wraaper {
    border-radius: 70px;
    background-color: #070e1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
  }
  .header-box {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .menu {
    width: 50px;
  }
  .logo {
    width: 100%;
    height: auto;
  }
  .info-head {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
  .tel-number {
    font-size: 18px;
    color: #fff;
  }
  .call-image {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .none1 {
      display: none;
    }
    .call-image {
      display: inline-block;
    }
    .logo {
      width: 200px;
    }
  }

  @media screen and (max-width: 450px) {
    .logo {
      width: 150px;
    }
    .menu {
      width: 35px;
    }
    .call-image {
      width: 35px;
    }
  }
}
.page-text__title {
  .title__text {
    font-size: 62px;
    color: white;
    text-align: center;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
      -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
  }
  .title__record {
    font-size: 28px;
    color: white;
    text-align: center;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
      -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
  }
  .title__btn {
    font-size: 20px;
    color: #624a29;
    background: linear-gradient(0deg, #e6ba78, #e6ba78),
      linear-gradient(
        61.09deg,
        rgba(250, 235, 215, 0.7) -5.45%,
        rgba(216, 183, 143, 0.7) 22.09%,
        rgba(222, 191, 155, 0.7) 65.28%,
        rgba(250, 235, 215, 0.7) 103.04%
      );

    width: 280px;
    height: 82px;
    border: none;
    border-radius: 12px;
  }
  .center {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 787px) {
    .title__text {
      font-size: 42px;
    }
    .title__record {
      font-size: 18px;
    }
    .title__btn {
      width: 200px;
      height: 40px;
      font-size: 16px;
    }
  }
}
.center__title {
  font-size: 42px;
  color: #070e1d;
  text-align: center;
  margin-top: 50px;
  @media screen and (max-width: 777px) {
    font-size: 32px;
    padding: 5px;
  }
}
.title__records {
  font-size: 18px;
  color: #000;
  text-align: center;
}
.inf0__content {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  .inf0__content-box {
    width: 200px;
    height: 150px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75) inset;
    -webkit-box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75) inset;
    -moz-box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75) inset;
    span {
      margin-top: 10px;
    }
  }
}

.grid {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  .flex-1 {
    position: relative;
    width: 60%;
    background-color: #070e1d;
    height: 300px;
    border-radius: 22px;
    box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75);
    -webkit-box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75);
    -moz-box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75);
  }
  .img__text {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .flex-2 {
    width: 40%;
    background-color: #070e1d;
    height: 300px;
    border-radius: 22px;
    box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75);
    -webkit-box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75);
    -moz-box-shadow: 14px 20px 62px -26px rgba(43, 32, 32, 0.75);
  }
  .flex-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -0;
  }
  @media screen and (max-width: 1210px) {
    flex-direction: column;
    .flex-1 {
      width: 100%;
    }

    .flex-2 {
      width: 100%;
    }
  }
}
